<% 
    let response = page.data;
    
    let color = ['bg-hover-gradient-violet',
        'bg-hover-gradient-blue',
        'bg-hover-gradient-green'
    ]
%>
<div class="page-holder w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
        <div class="row">
            <div class="col-lg-12 mt-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-header">
                        <h2 class="h6 mb-0 text-uppercase">Vacantes Destacadas</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% for (var i = 0; i< response[0].length && i< 9; i++) {%>
                            <div class="col-lg-4 mb-4"><a href="#" class="bg-hover-gradient-primary no-anchor-style"
                                    data-toggle="modal" data-target="#myModal2">
                                    <div class="card rounded bg-hover-gradient-blue">
                                        <div class="content p-4">
                                            <h2 class="mb-5"><i class="fas fa-bullhorn"></i><small class="ml-3"><%= response[0][i].nombre_vacante %></small> <img src="img/medalla-de-honor.svg"
                                                    class="float-right" style="max-width: 40px;" alt=""></i> </h2>
                                            <small class="text-gray"><%= response[0][i].email %></small>
                                            <div class="text-uppercase">
                                                <div class="font-weight-bold d-block"><%= response[0][i].nombre_area %></div>
                                                <h4 class="mb-0">$<%= response[0][i].salario %></h4>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-12 mt-5">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-header">
                        <h2 class="h6 mb-0 text-uppercase">Profesionales Destacadas</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <% for (var i = 0; i< response[1].length && i< 6; i++) {%>
                            <div class="col-lg-12"><a data-toggle="modal" data-target="#Userdata"
                                    class="message card px-5 py-3 mb-4 bg-hover-gradient-primary no-anchor-style">
                                    <div class="row">
                                        <div
                                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <img src="/img/<%= response[1][i].foto%>" alt="..." style="max-width: 3rem"
                                                class="rounded-circle mx-3 my-2 my-lg-0">
                                            <h6 class="mb-0"><%= response[1][i].nombre_profesional%>  <%= response[1][i].apellido_profesional %></h6>
                                        </div>
                                        <div
                                            class="col-lg-3 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <div
                                                class="bg-gray-100 roundy px-4 py-1 mr-0 mr-lg-1 mt-2 mt-lg-0 text-dark exclode col-lg-12 text-center">
                                                <%= response[1][i].nombre_servicio%></div>
                                        </div>
                                        <div
                                            class="col-lg-5 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <p class="mb-0 mt-3 mt-lg-0"><%= response[1][i].descripcion_profesional%></p>
                                        </div>
                                        <div
                                            class="col-lg-1 d-flex align-items-center flex-column flex-lg-row text-center text-md-left">
                                            <img src="/img/medalla-de-honor.svg" style="max-width: 40px;" alt=""></i>
                                        </div>
                                    </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------- modal -------------------------------------------------- -->
    <div id="Userdata" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
        class="modal fade text-left">
        <div role="document" class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Información general</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nombre: </strong> Jason Doe</p>
                    <p><strong>Edad:</strong> 25</p>
                    <p><strong>Dirección:</strong> San Fransisco</p>
                    <p><strong>Email:</strong> jasond@yahoo.com</p>
                    <p><strong>Teléfono:</strong> 6666-6666</p>
                    <p><strong>Nivel académico:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
                        sequi
                        repellat architecto, blanditiis officiis doloribus a voluptates assumenda tenetur explicabo
                        eligendi
                        voluptatibus, earum ducimus dolores, nesciunt excepturi vel quia recusandae.</p>
                    <p><strong>Experiencia:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
                        consequatur ratione veniam ea, deserunt laboriosam officia illum incidunt ducimus sunt!
                        Quibusdam est
                        laudantium molestias aut iste sequi veniam quae odio!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center text-md-left text-primary">
                    <p class="mb-2 mb-md-0">Tapp</p>
                </div>
                <div class="col-md-6 text-center text-md-right text-gray-400">
                    <p class="mb-0">Desarrollo de Software IX</p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
</div>