<% 
    let response = page.data;
    
    let color = ['bg-hover-gradient-violet',
        'bg-hover-gradient-blue',
        'bg-hover-gradient-green'
    ]
%>
<style>
    .sidebar {
        display: none;
    }
</style>
<div class="hero-awesomex" style="background-image: url(https://ununsplash.imgix.net/photo-1416339134316-0e91dc9ded92?q=75&fm=jpg&s=883a422e10fc4149893984019f63c818)">
    <div class="hero__content-awesomex">
      <h1>Yolo, it's a real word.</h1>
      <a class="btn" href="#">Sign up</a>
    </div>
  </div>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="container-dividerx">
    <section class="section-dividerx col-2-dividerx color-dividerx ss-style-curvedown">
        <div class="column-dividerx text-dividerx">
            <h2 class="font-weight-bold">Profesionales Destacados</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iusto explicabo odio magnam natus in
                facere officia quam quos modi voluptatum architecto consequuntur blanditiis dignissimos vero sed libero,
                error unde!</p>
        </div>
    </section>
</div>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5">
        <div class="row">
            <% for (var i = 0; i< response[1].length && i< 4; i++) {%>
            <div class="col-lg-3 col-md-6 col-sm-12 my-5 ">
                <div class="card-awesomex">
                    <div class="banner">
                        <img class="svg" src="img/<%=response[1][i].foto%>">
                    </div>
                    <div class="menu"> </div>
                    <h2 class="name-awesomex"><%=response[1][i].nombre_profesional%>
                        <%=response[1][i].apellido_profesional%></h2>
                    <div class="title-awesomex"><%=response[1][i].nombre_servicio%></div>
                    <div class="actions-awesomex ">
                        <div class="icon-info-awesomex row" style="text-align: center;">
                            <div class="col-12">
                                <img src="img/medalla-de-honor.svg" style="max-width: 40px;"></i>
                            </div>
                        </div>
                        <div class="icon-btn-awesomex"><button>Información</button></div>
                    </div>
                    <div class="description-awesomex text-center"><%=response[1][i].email%></div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<svg id="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100"
    preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z" />
</svg>

<section class="section-dividerx col-2-dividerx color-dividerx ss-style-curvedown">
    <div class="column-dividerx text-dividerx text-left">
        <h2 class="font-weight-bold">Vacantes Destacadas</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus iusto explicabo odio magnam natus in
            facere officia quam quos modi voluptatum architecto consequuntur blanditiis dignissimos vero sed libero,
            error unde!</p>
    </div>
</section>
<svg id="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100"
    viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 0 C 50 100 80 100 100 0 Z" />
</svg>
<!-- -----------------------------------------------DIVIDER------------------------------------------------------------------------ -->
<div class="w-100 d-flex flex-wrap">
    <div class="container-fluid px-xl-5 ">
        <div class="row my-5">
            <% for (var i = 0; i< response[1].length && i< 3; i++) {%>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-card-entrepressx">
                        <div class="meta-entrepressx">
                            <div class="photo-entrepressx"
                                style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)">
                            </div>
                            <ul class="details-entrepressx">
                                <li class="date-entrepressx"><%=response[0][i].fecha%></li>
                                <li class="area-entrepressx"><%=response[0][i].nombre_area%></li>
                                <li class="place-entrepressx"><%=response[0][i].ubicacion%></li>
                            </ul>
                        </div>
                        <div class="description-entrepressx">
                            <h1><%=response[0][i].nombre_vacante%> <img src="img/medalla-de-honor.svg" style="max-width: 40px;"></h1>
                            <h2><%=response[0][i].email%></h2>
                            <!-- <p class="text-center"><img src="img/medalla-de-honor.svg" style="max-width: 40px;"></p> -->
                            <p><%=response[0][i].descripcion_vacante%></p>
                            <p class="price-entrepressx text-left">
                                <a style="font-size: 2rem;"><%=response[0][i].salario%></a>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
    <!-------------------------------- modal -------------------------------------------------- -->
    <div id="Userdata" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
        class="modal fade text-left">
        <div role="document" class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Información general</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                            aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p><strong>Nombre: </strong> Jason Doe</p>
                    <p><strong>Edad:</strong> 25</p>
                    <p><strong>Dirección:</strong> San Fransisco</p>
                    <p><strong>Email:</strong> jasond@yahoo.com</p>
                    <p><strong>Teléfono:</strong> 6666-6666</p>
                    <p><strong>Nivel académico:</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
                        sequi
                        repellat architecto, blanditiis officiis doloribus a voluptates assumenda tenetur explicabo
                        eligendi
                        voluptatibus, earum ducimus dolores, nesciunt excepturi vel quia recusandae.</p>
                    <p><strong>Experiencia:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit
                        consequatur ratione veniam ea, deserunt laboriosam officia illum incidunt ducimus sunt!
                        Quibusdam est
                        laudantium molestias aut iste sequi veniam quae odio!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center text-md-left text-primary">
                    <p class="mb-2 mb-md-0">Tapp</p>
                </div>
                <div class="col-md-6 text-center text-md-right text-gray-400">
                    <p class="mb-0">Desarrollo de Software IX</p>
                    <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
                </div>
            </div>
        </div>
    </footer>
<script src="/js/hero.js"></script>