<div class="page-holder w-100 d-flex flex-wrap mt-5">
  <div class="container-fluid px-xl-5">
    <!--Buscador-->
    <section>
      <div class="col-lg-12 mb-5">
        <div class="card px-2 py-1">
          <div class="card-body px-1 py-2">
              <div class="row">
                <div class="col-lg-2 text-center">
                  <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Filtrar
                    vacantes</button>
                </div>
                <div class="form-group position-relative mb-0 col-lg-7 mt-1 ml-lg-3 ">
                  <button type="submit" style="top: -3px; left: 0;"
                    class="position-absolute bg-white border-0 p-0 ml-4"><i
                      class="o-search-magnify-1 text-gray text-lg"></i></button>
                  <input type="search" placeholder="Buscar vacantes..."
                    class="form-control form-control-sm border-0 no-shadow pl-4 ml-2" id="buscar" value="">
                </div>
              </div>
            <!-- Modal para filtrar-->
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
              class="modal fade text-left">
              <div role="document" class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 id="exampleModalLabel" class="modal-title">Filtrar vacantes</h4>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                  </div>
                  <form class="range-field" action="/filtrarVacantes" method="POST">
                    <div class="modal-body">
                      <div class="form-group">
                        <label class="col-lg-4">Empresa</label>
                        <div class="custom-control-inline ml-2 ">
                          <select class="form-control" name="empresa">
                            <option selected value="0">Todas</option>
                            <% for (var data of page.empresas) { %>
                            <option value=<%= data.id_empresa %>><%= data.nombre_empresa %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4">Area laboral</label>
                        <div class="custom-control-inline ml-2 ">
                          <select class="form-control" name="area">
                            <option selected value="0">Todas</option>
                            <% for (var data of page.areas) { %>
                            <option value=<%= data.id_area %>><%= data.nombre %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4">Destacado</label>
                        <div class="custom-control custom-radio custom-control-inline ml-2 col-1">
                          <input id="destacado_si" type="radio" name="destacado" class="custom-control-input" value="1">
                          <label for="destacado_si" class="custom-control-label">Sí</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-2 col-1">
                          <input id="destacado_no" type="radio" name="destacado" class="custom-control-input" value="0">
                          <label for="destacado_no" class="custom-control-label">No</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-2 col-1">
                          <input id="destacado_cualquiera" type="radio" name="destacado" class="custom-control-input"
                            value="2" checked>
                          <label for="destacado_cualquiera" class="custom-control-label">Todos</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-4">Salario minimo:</label>
                        <div class="custom-control-inline ml-2">
                          <input class="form-control" type="number" min="200" step="10" name="salario_min">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" id="filtrarVacante">Buscar</button>
                      <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Vacantes-->
    <section>
      <div class="row text-dark px-5">
        <% if (page.vacantes.length == 0){ %>
            <div class="p-3 col-12">
              <h2 class="text-center"><small>No hay resultados con esos requerimientos. Inténtelo con otros.</small></h2>
            </div>
        <%} else {%>
        <% var i = -1; for(var data of page.vacantes) { i++ %>
          <div class="col-lg-6 col-md-6 col-sm-12 mt-4" id="<%= data.id_vacante %>">
              <div class="blog-card-entrepressx">
                  <div class="meta-entrepressx"><a  class="messageVacante  no-anchor-style" data-toggle="modal" data-target="#modal" data-id=<%= data.id_vacante %>>
                      <div class="photo-entrepressx" style="background-image: url(img/<%=data.foto%>)">
                      </div>
                      <ul class="details-entrepressx">
                          <li class="date-entrepressx"><%=data.fecha%></li>
                          <li class="area-entrepressx"><%=data.nombre_area%></li>
                          <li class="place-entrepressx"><%=data.ubicacion%></li>
                      </ul>
                  </div>
                  <div class="description-entrepressx">
                  <h1><%=data.nombre_vacante%> <% if(data.destacado == 1) {%><img src="img/medalla-de-honor.svg" style="max-width: 40px;"></h1><% }%>
                      <h2><%=data.email%></h2>
                      <!-- <p class="text-center"><img src="img/medalla-de-honor.svg" style="max-width: 40px;"></p> -->
                      <p><%=data.descripcion_vacante%></p>
                      <p class="price-entrepressx text-left">
                          <a style="font-size: 2rem;"><%=data.salario%></a>
                      </p>
                  </div>
                </a>
              </div>
          </div>
        <% } } %>
        <!-- Modal2 (dettalles de vacante)-->
        <div id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true" class="modal fade text-left">
          <div role="document" class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="exampleModalLabel" class="modal-title">Detalles de la vacante</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                    aria-hidden="true">×</span></button>
              </div>
              <div class="modal-body">
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Nombre: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#nombre"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Descripción de la vacante: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#descripcion"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Área laboral: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#area"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Requisitos </strong>
                  </div>
                  <div class="col-8">
                    <p id="#requisito"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Trabajos a desempeñar: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#trabajos"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Salario: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#salario"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Ubicación del trabajo: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#ubicacion"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Tipo de horario: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#horario"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Fecha de publicación: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#fecha"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Nombre de la empresa: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#empresa"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Descripción de la empresa: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#descripcionempr"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Teléfono de la empresa: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#telefono"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Sitio web: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#sitio"></p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-4">
                    <strong>Email: </strong>
                  </div>
                  <div class="col-8">
                    <p id="#email"></p>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 text-center text-md-left text-primary">
          <p class="mb-2 mb-md-0">Tapp</p>
        </div>
        <div class="col-md-6 text-center text-md-right text-gray-400">
          <p class="mb-0">Proyecto de Desarrollo IX</p>
          <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- <div class="col-lg-4 mb-4"><a href="#" class="bg-hover-gradient-primary no-anchor-style" data-toggle="modal"
            data-target="#myModal2">
            <div class="card rounded bg-hover-gradient-violet">
              <div class="content p-4">
                <h2 class="mb-5"><i class="fas fa-bullhorn"></i><small class="ml-3">iThink</small></h2>
                <small class="text-gray">iThink@yahoo.com</small>
                <div class="text-uppercase">
                  <div class="font-weight-bold d-block">Diseñador grafico</div>
                  <h4 class="mb-0">$780.00</h4>
                </div>
              </div>
            </div>
          </a>
      </div> -->